{% schema %}
  {
    "name": "text_section2",
    "settings": [
      {
        "type": "textarea",
        "id": "text_area", 
        "label": "TEXT area"
      }
    ]
  }
{% endschema %}

{% if section.settings.text_area != '' %}
  <div class="faq-section">
  <div id="rewiew" class="faq-content text-section">
    {{ section.settings.text_area }}
  </div>
  </div>
{% endif %}

<style>
  .text-section{
    text-align: left;
    padding: 3%;
    font-size:16px;
  }
  .faq-section .text-section p{
    padding-bottom: 10px;
  }
</style>

{% javascript %}
{% endjavascript %}